<template name="emEventPreview">
	<article class="item well event-preview">
		<header class="event-preview__header clearfix">
			<h4 class="pull-left">
				<a href="{{pathFor 'eventPage'}}">{{name}}</a>
			</h4>
			<div class="event-preview__nav">
				<button class="btn btn-xs btn-danger btn-remove pull-right">remove</button>
			</div>
		</header>

		<div class="text-muted small event-preview__date">
			{{emFormatDate date}}
		</div>

		<div class="event-preview__content">
			<!-- here possible description-->
		</div>

		<footer class="event-preview__footer">
			<strong>{{guests.length}} guests are going</strong>
		</footer>
	</article>
</template>