<template name="emEventPage">
	<article class="col-md-12">
		<h3>{{name}}</h3>
		<div class="event-page__date">
			{{emFormatDate date}}
		</div>

		<div class="event-page__guestsHeader clearfix">
			<h4 class="pull-left">Guests</h4>
			<button class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#addGuestForm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add guest</button>
		</div>

		<div class="event-page__guests">
			{{> alerts container="guestList"}}
			
			{{#each emStatuses}}
				{{> emStatusGuestList}}
			{{/each}}
		</div>

		{{> emAddGuestFormModal}}
	</article>
</template>