<template name="emAddGuestFormModal">
	<div class="modal fade" id="addGuestForm" role="dialog" aria-labelledby="addGuestFormLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			{{> emAddGuestFormModalInner}}
		</div>
	</div>
</template>

<template name="emAddGuestFormModalInner">
	<div class="modal-content">
		<form class="addGuest-form">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Add guest</h4>
			</div>
			
			<div class="modal-body">

				{{> alerts container="addGuestForm" }}
				
				<div class="form-group">
					<label for="newGuestName">Name</label>
					<input type="text" class="form-control guest-form__name" id="newGuestName" placeholder="eg. John Doe">
				</div>

				<div class="form-group">
				    <label for="newGuestStatus">Status</label>

				    <select class="form-control guest-form__status">
					    {{#each emStatuses}}
					    	<option>{{this}}</option>
					    {{/each}}
					</select>
				</div>			
			</div>
		
			<div class="modal-footer">
				{{> emGlobalLoading top="15px" left="10%" length="1" width="2" radius="8"}}
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Add guest</button>
			</div>
		</form>
	</div>
</template>