<template name="emGuest">
	<div class="col-md-4">
		<div class="item well well-sm clearfix guest" draggable="true">
			{{#if getLoading}}
				<div class="loading-container">
					{{> emLoading top="40px" left="96%" length="0.9" width="2" radius="8"}}
				</div>
			{{/if}}

			<div class="guest__nav pull-right">
				<button class="btn btn-xs btn-danger btn-remove">Remove</button>
			</div>
			<div class="guest__pic pull-left">
				<img src="http://lorempixel.com/50/50/people/?{{name}}" class="img-circle"> <!-- bust url, so every person has different image -->
			</div>
			<div class="guest__name pull-left">
				{{name}}
			</div>
		</div>
	</div>
</template>