.well.droppable {
	background-color: #fff;
	border-style: dotted;
	border-width: 2px;
	padding-bottom: 50px;
}

.guest__name {
	margin-left: 10px;
	font-weight: 900;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 60%;
}

[draggable=true] {
	cursor: pointer;
}

.droppable-info {
	position: absolute;
	display: block;
	color: #e3e3e3;
    left: 50%;
    transform: translate(-50%, 0); 
}

.droppable:before:extend(.droppable-info){
	bottom: 20px;
	font-family: 'Glyphicons Halflings';
	content: "\e134";
	font-size: 32px;
}

.droppable:after:extend(.droppable-info) {
	content: "drop a person here";
	bottom: 5px;
}