.event-list__header {
	margin: 10px 0;	
}

.event-list__header h3 {
	margin: 0;
}

.event-preview__header h4 {
	margin: 0;
}

.event-page__guestsHeader {
	margin: 10px 0;
	
	h4 {
		margin: 5px 0;
	}
}