<template name="emStatusGuestList">
	<div class="event-page__status" data-status="{{this}}">
		<h4>{{this}} ({{getGuestsStatusCount this}})</h4>
		<div class="event-page__guestList droppable well well-sm col-md-12">
			{{#each getGuestsWithStatus this}}
				{{> emGuest}}
			{{/each}}

			{{#if emIsLoading}}
				<div class="loading-container col-md-12">
					{{> emLoading top="35px" left="99%" length="0.9" scale="4" width="3" radius="6"}}
				</div>
			{{/if}}
		</div>
	</div>
</template>