<template name="emEventList">
	<section class="col-md-12 event-list">
		<header class="event-list__header clearfix">
			<h3 class="pull-left">Event List</h3>	
			<div class="event-list__nav">
				<a href="{{pathFor 'eventAddPage'}}" class="btn btn-sm btn-success btn-add pull-right">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add event
				</a>
			</div>
		</header>
		{{> alerts container="eventList" }}

		{{#if Template.subscriptionsReady}}
			{{#each events}}
				{{> emEventPreview}}
			{{/each}}
		{{else}}
			{{> emLoading}}
		{{/if}}
	</section>
</template>