<template name="emLayout">
	<div class="container">
		<header class="row">
			{{> yield region='header'}}
		</header>

		<div class="row main-content">
			{{> yield}}
		</div>

		<footer class="row">
			{{> yield region='footer'}}
		</footer>
	</div>
</template>