<template name="emEventAddPage">
	<article class="col-md-12">
		<h3>Add an event</h3>
		
		<!-- normally I would consider using autoform, but not sure if I can use others' solutions for this task -->
		<div class="event-add__form">
			<div class="event-add__alerts">
				{{> alerts container="eventAddForm"}}
			</div>
			<form class="event-form">
				<div class="form-group">
					<input type="text" class="form-control event-add__name" placeholder="Name">
				</div>

				<div class="form-group">
					<input type="datetime-local" class="form-control event-add__date" placeholder="Date">
				</div>

				<button type="submit" class="btn btn-default">Submit</button>
				
				{{> emGlobalLoading top="-15px" left="50%" length="0.9" scale="4" width="3" radius="6"}}
			</form>
		</div>
	</article>
</template>